.loginSignupDiv {
  font-size: 18px;
  /* padding: 80px 25px 0px; */
  height: 90vh;
  width: 55%;
  padding: 30px;
}
.logo{
  margin: auto;
}
.loginDiv {
  text-align: start;
  margin-right: 10px;
  max-width: 100%;
  text-align: left;
}
.loginDiv > p {
  margin: auto;
    width: 73%;
    margin-bottom: 20px;
}
form > input {
  display: block;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #cecece !important;
}
.loginPasswordDiv {
  position: relative;
}
.loginPasswordDiv > input {
  display: block;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #cecece;
}
.showPassEyeDiv {
  position: absolute;
  right: 5%;
  bottom: 18%;

}
#errorWarningPTag {
  color: red;
  margin: 10px;
}
.loginDiv > form > input:focus {
  outline: none;
  border-color: rgb(65, 109, 109);
}
.loginBtn {
  padding: 8px 20px;
  margin: 20px 0px;
  cursor: pointer;
  color: whitesmoke;
  border: none;
  background-color: "#7873C9" !important;
  /* thirdColor: "#7873C9",
   thirdColorHover: "#6761cc", */
}
.loginBtn:hover {
  background-color: #33578a;
  opacity: 1;
}
#forgetPasswordBtn {
  padding: 8px 0px;
  cursor: pointer;
  background: none;
  color: var(--colorDark);
}
#forgetPasswordBtn:hover {
  font-weight: bold;
}
.moveToSignupBtn {
  padding: 8px 20px;
  margin: 20px 0px;
  cursor: pointer;
  background-color: rgb(65, 109, 109);
  color: whitesmoke;
  border: none;
}
.moveToSignupBtn:hover {
  background-color: darkslategray;
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .loginSignupDiv {
    display: block;
    padding: 80px 20px 20px;
    width: 100%;
    height: 80%;
  }
  .loginDiv {
    text-align: start;
    max-width: 100%;
  }
  .loginDiv > form > input {
    width: 100%;
  }
  .loginPasswordDiv > input {
    width: 100%;
  }
  .showPassEyeDiv {
    position: absolute;
    left: 92%;
    top: 55%;
  }

  .signupDiv {
    padding-top: 60px;
    text-align: start;
    max-width: 100%;
  }
}
.animated {
  padding: 20px;
  border-radius: 20px;
  width:55%;
  position: relative;
    color: #fff;
    /* display: flex; */
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.wrapper {
  /* height: 100vh; */
  display: grid;
  /* place-items: center; */
}

.typing_demo {
  width: 200px;
  height: 70px;
  font-weight: 700;
  animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: sans-serif;
    font-size: 4rem;
    text-align: left;
}

@keyframes typing {
  from {
      width: 0;
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}
form input{
  border-radius: 50px;
  background-color: transparent;
}

/* form {
  margin: auto;
  width: 70%;
} */
button{
  border-radius: 50px;
  background-color: #d9a990 ;
}
button:hover{
  background-color: #4a6180;
}
.modal{
  height: auto;
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 0
}
.billing_title{
  margin-left: 20px;
  margin-top: 30px;
}
.billing_title p{
  font-size: 48px;
  line-height: 20px;
}
.invoice{
  width: 100px;
  height: auto;
  position: absolute;
  top: 80px;
  right: 30px;
  opacity: 0.5;
  animation: float 8s ease-in-out infinite;
}
.handshake{
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 30px;
  opacity: 0.5;
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}