@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marcellus&family=Rampart+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

.arrow {
      transition: 2s;
      -webkit-transition: 0.70s;
      -moz-transition: 0.70s;
      -ms-transition: 0.70s;
      -o-transition: 0.70s;
      display: block;
      margin-right: auto;
      margin-left: auto;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    a:hover .arrow {
      transition: 3s;
      -webkit-transition: 0.70s;
      -moz-transition: 0.70s;
      -ms-transition: 0.70s;
      -o-transition: 0.70s;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      
    } 

  a:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }

    .yearDropdown ul {
        display: flex !important;
        max-width: 300px;
        overflow-x: auto;
    }