.table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80vw;
  table-layout: fixed;
}

.caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #969696;
  padding: 0.35em;
}

.th,
.td {
  padding: 0.62em;
  text-align: center;
}

.th {
  border-bottom: 2px solid #969696;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.tr:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 768px) {
  .table {
    border: 0;
  }

  .caption {
    font-size: 1.3em;
  }

  /* .thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } */

  .tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .td {
    border-bottom: 1px solid #969696;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.thead {

  color: #fff !important;
  /* display: flex; */
    position: sticky;
    
    top: 0;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.thead th{
color: #fff;
font-size: 14px;
}