/* .table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80vw;
  table-layout: fixed;
}

.caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #969696;
  padding: 0.35em;
}

.th,
.td {
  padding: 0.62em;
  text-align: center;
}

.th {
  border-bottom: 2px solid #969696;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.tr:last-child {
  border-bottom: 0;
} */

@media screen and (max-width: 768px) {
  .table {
    border: 0;
  }

  .caption {
    font-size: 1.3em;
  }
}
  /* .thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } */
/* 
  .tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .td {
    border-bottom: 1px solid #969696;
    display: block;
    font-size: 0.8em;
    text-align: right;
  } */

  /* .td::before {
   
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.thead {

  color: #fff !important;
    position: sticky;
    
    top: 0;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.thead th{
color: #fff;
font-size: 14px;
} */

.table_scroll{
    
  width: 100%;
height: 55vh;
background: #F5F5F5;
overflow-y: auto;
  border-radius: 20px;
}
.table_scroll::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
  border-radius: 50px;
}

.table_scroll::-webkit-scrollbar
{
width: 6px;
background-color: #F5F5F5;
  border-radius: 50px;
}

.table_scroll::-webkit-scrollbar-thumb
{
  background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
  border-radius: 50px;
}

.animated {

    color: #fff !important;
    display: flex;
      position: sticky;
      width: 100%;
      top: 0;
      z-index: 1111;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated th{
  color: #fff;
  font-size: 18px;
}
.css-36upbs-MuiButtonBase-root-MuiButton-root {
  min-width: 30px !important;
  padding: 5px !important;
  border: none !important;
  color: #7873C9;
  color: #7873C9;
}
.editButton button{
  padding: 5px !important;
  border:0;
  min-width: 30px;
  color:#000;
}
.editButton button:hover{
  padding: 5px !important;
  border:0;
  min-width: 30px;
  background-color: #c1c1c1;
  color:#db8876;
}