.totalClints{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 25px;
    width: 700px;
    position: relative;
}
.animated img{
    width: 90%;
    height: auto;
    margin-top: 50px;
    filter: drop-shadow(6px 6px 14px #363636);

}
.plane img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 0;
}
.animated {
    padding: 20px;
    border-radius: 25px;
    width:55%;
    position: relative;
      color: #fff;
      display: flex;
    margin-bottom: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
  }
  @-webkit-keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @-moz-keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .count_total{
    width: 75%;
  }
  .count_total h2{
    color: #ffffff;
    font-size: 30px;
    margin-left: 30px;
    font-family: revert;
  }
  .count_total h1{
    color: #ffffff;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    margin-left: 69px;
    font-family: revert;
  }
  .viewBotton{
    position: absolute;
    bottom: -14px;
    right: -12px;
    background-color: #E4A98A;
    width: 259px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px 0 30px;
    box-shadow: 2px 2px 14px #999797;
    font-size: 20px;
}
.tagline{
    color: #ffffff;
    font-size: 23px;
    position: absolute;
    bottom: 90px;
    left: 50px;
}
.total_projects{
    background: #E4A98A;
    background: linear-gradient(-40deg, #e4a98a, #4a6180);
    width: 45%;
    height: auto;
    margin-bottom: 25px;
    padding: 20px;
    margin-top: 35px;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}
.project{
    width: 50%;
    position: absolute;
    right: -15px;
    top: -39px;
    filter: drop-shadow(2px 6px 18px #838383);
}
.project_section{
    width: 50%;
}
.project_section h1{
    color: #ffffff;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    margin-left: 69px;
    font-family: revert;
}
.project_section h2{
    color: #ffffff;
    font-size: 30px;
    margin-left: 30px;
    font-family: revert;
}
.invoice{
   position: relative;  
   
}
.invoice img{
    width: 300px;
    border-radius: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.invoice_details{
    position: absolute;
    top: 61px;
    left: 36px;
}
.invoice_details h1{
    font-size: 90px;
    font-weight: 600;
    font-family: revert;
}
.invoice_details h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    font-family: revert;
}