@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marcellus&family=Rampart+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');
.totalClints{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 25px;
    width: 700px;
    position: relative;
}
.animated img{
    width: 90%;
    height: auto;
    margin-top: 40px;
    filter: drop-shadow(6px 6px 14px #363636);

}
.plane img{
    width: 75px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 0;
}
.animated {
    padding: 20px;
    border-radius: 25px;
    width:55%;
    position: relative;
      color: #fff;
      display: flex;
    margin-bottom: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
  }
  @-webkit-keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @-moz-keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @keyframes Gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .count_total{
    width: 100%;
    text-align: left;
  }
  .count_total h2{
    color: #ffffff;
    font-size: 25px;
    /* margin-left: 20px; */
  }
  .count_total h1{
    color: #ffffff;
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    /* margin-left: 69px; */
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  }
  .viewBotton{
    position: absolute;
    bottom: -14px;
    right: -12px;
    background-color: #E4A98A;
    width: 224px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px 0 30px;
    box-shadow: 2px 2px 14px #999797;
    font-size: 20px;
}
.viewproject{
    position: absolute;
    bottom: -9px;
    right: -9px;
    background-color: #e4a98a;
    color: #fff;
    width: 195px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px 0 20px;
    box-shadow: 2px 2px 14px #999797;
    font-size: 18px;
}
.tagline{
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    bottom: 45px;
    left: 30px;
    font-weight: 600;
    line-height: 27px;
    font-family: "Caveat", cursive;
}
.total_projects{
    background: #E4A98A;
    background: linear-gradient(-40deg, #e4a98a, #4a6180);
    width: 45%;
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 35px;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}
.project{
    width: 45%;
    position: absolute;
    right: -19px;
    top: -40px;
    filter: drop-shadow(2px 6px 18px #838383);
}
.project_section{
    width: 70%;
    text-align: left;
}
.project_section h1{
    color: #ffffff;
    font-size: 73px;
    line-height: 80px;
    font-weight: 300;
    /* margin-left: 69px; */
    text-align: end;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.project_section h2{
    color: #ffffff;
    font-size: 25px;
    margin-left: 30px;
}
.invoice{
   position: relative;  
   width: 25%;
}
.invoice img{
    /* width: 25%; */
    border-radius: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.invoice_details{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 90%;
    right: 0;
    margin: auto;
}
.invoice_details h1{
    font-size: 60px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.profile {
    background-color: #E4A98A;
    background-image: url("../assets/profilebg.gif");
    width: 25%;
    border-radius: 21px;
    background-size: cover;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.companyLogo{
    width: 50%;
    height: 50%;
    margin: auto;
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #4a6180;
    padding: 5px;
}
.profile p{
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}