.menulist{
    margin-top: 50px;
    
}
.menulist li a{
    margin-bottom: 10px;
  
    width: 170px;
    height: 40px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    padding: 18px;

    cursor: pointer;
    transform: 0.4s linear;
    
}
.menulist li a:hover{
    background: linear-gradient(-40deg, #bfc9c7, #4a6180);
    color: #fff;
}