.menulist{
    margin-top: 50px;
    
}
.menulist li a{
    margin-bottom: 10px;
  
    width: 170px;
    height: 40px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    padding: 18px;

    cursor: pointer;
    transform: 0.4s linear;
    
}
.menulist li a:hover{
    background: linear-gradient(-40deg, #bfc9c7, #4a6180);
    color: #fff;
}
.animated {

    color: #fff !important;
    display: flex;
      position: sticky;
      width: 100%;
      top: 0;
      z-index: 1111;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: linear-gradient(-45deg, #6bafd2, #a4c8dc, #d6cbca, #eabc96, #db8876);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.alertDialogTitle{
    border-radius: 20px;
}